$color-primary: #647B64;
$color-secondary: #F3B562;
$color-footer: #F0DCC5;
$button-gradient: linear-gradient(90deg, rgba(100,123,100,1) 0%, rgba(102,172,102,1) 100%);
$box-gradient: linear-gradient(0deg, #FFFFFF, #FFFFFF),
linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%);
