@use 'scss/_variables.scss' as col;

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Nunito Sans', sans-serif;
    max-width: 1440px;
    margin: 0 auto;  
    background: rgb(248,234,227);
    background: linear-gradient(180deg, rgba(248,234,227,1) 0%, rgba(232,232,228,1) 19%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 100%);
}

.page-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 40px;
}



.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0rem;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

}

nav {
    display: flex;
    gap: 2rem;
    font-weight: 500;
    text-transform: uppercase;


    a {
        color: black;
        text-decoration: none;
        font-size: 12px;
        padding-top: 10px;
     }

     :last-child {
        color: col.$color-white;
        font-weight: 400; 
     }
     
     a::first-letter {
        font-size: 16px;
     }

     .global-button-top {
          padding: 10px 15px;
          color: col.$color-primary;
          background: col.$button-gradient;
          border-radius: 3px;
     }
     }






.first-section {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.first-section-left{
width: 495px;
height: 375px;

h1 {
    margin-top: 2rem;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 650;

}

h1:first-letter {
    font-size: 48px;
    font-weight: 600;
}
}

p {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 400;
    color: col.$color-gray;

}

     


.global-button {
    padding: 10px 15px;
          color: col.$color-primary;
          background: col.$button-gradient;
          border-radius: 2px;
          width: 350px;
          height: 73px;
          text-transform: uppercase;
          display: flex;
          justify-content: space-between;
          align-items: center;

          

          a {
            color: col.$color-white;
            text-decoration: none;
            font-weight: 600;
            letter-spacing: 2px;
            margin-left: 15px;
            display: block;
            height: 100%;
            width: 100%;
            margin-top: 30px;
            
          }

          img {
            margin-right: 15px;
          }
          
          }


.second-section {
    display: flex;
    margin-top: 250px;
}

.second-section-left {
    p {
        font-size: 16px;
        width: 412px;
    }
}

.global-description {
text-transform: uppercase;

     h2 {
        color:col.$color-secondary;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;

}
    h3 {
        color:col.$color-primary;
        font-size: 41px;
        font-weight: 500;

}

}

.second-section-right {
    display: flex;
    flex-wrap: wrap;

    .right-section-box:first-child {
        background-color: col.$color-white;
        box-shadow: 0px 5.87px 31.33px 0px #9B94942B;

    }

}

.right-section-box {
    width: 288px;
    height: 237px;
    border-radius: 8px;
    margin: 10px 10px 10px 70px;

    h3 {
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;

    }
    h3:first-letter {
        font-size: 23px;
        font-weight: 500;
    }

    p {
        font-size: 13px;
        margin-top: 10px;
    }

}

.right-section-box-wrapper {
    margin: 30px;

    .icon-wrapper-one {
        background-color: col.$color-primary;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        padding: 8px;
        text-align: center;
        margin-bottom: 15px;
    }
}

.icon-wrapper {
    background-color: col.$color-white;
    width: 48px;
        height: 48px;
        border-radius: 8px;
        padding: 8px;
        text-align: center;
        margin-bottom: 15px;
}
